<div>
    <div class="window-background">
        <div class="dialogue-window small-window">
            <div class="dialogue-header">
                <p></p>
                <a href="javascript:void(0)"><img src="./icons/close.png" alt="close window" class="img-btn" id="color-dialogue-close-btn"></a>
            </div>
            <div class="dialogue-body">
                <div id="color-container" class="color-container"></div>
            </div>
            <div class="dialogue-footer">
                <!-- <button class="btn" id="confirm-dialogue-yes-btn">Ano</button>
                <button class="btn" id="confirm-dialogue-no-btn">Ne</button> -->
            </div>
        </div>
    </div>
</div>