<div class="control-panel">
    <div class="left-bar">
        <div class="board-dropdown">Finestrina</div>
        <div class="board-dropdown-content">
            <p>Matika</p>
            <p>Fyzika</p>
            <p>Informatika</p>
        </div>
        
        <a href="javascript:void(0)"><img class="img-btn" src="./icons/rename.png" alt="rename board"></a>
        <a href="javascript:void(0)"><img class="img-btn" src="./icons/remove.png" alt="remove board"></a>
        <a href="javascript:void(0)"><img class="img-btn" src="./icons/add.png" alt="add board"></a>
    </div>
    <div class="center-bar">
        <!-- <a href="javascript:void(0)"><img class="img-btn" src="./icons/save.png" alt="save to local storage"></a> -->
        <p class="secondary-fg">Naposledy uloženo 12:49</p>
    </div>
    <div class="right-bar">
        <a href="javascript:void(0)"><img class="img-btn" src="./icons/fullscreen2.png" alt="toggle fullscreen"></a>
        <a href="javascript:void(0)"><img class="img-btn" src="./icons/help.png" alt="help"></a>
        <a href="javascript:void(0)"><img class="img-btn" src="./icons/export2.png" alt="export workspace"></a>
        <a href="javascript:void(0)"><img class="img-btn" src="./icons/import2.png" alt="import workspace"></a>
    </div>
</div>
