<div class="control-panel">
    <div class="left-bar">
        <div class="board-dropdown" id="active-board-label">Finestrina</div>
        <div class="board-dropdown-content" id="board-dropdown-content">
            <p>Matika</p>
            <p>Fyzika</p>
            <p>Informatika</p>
        </div>
        
        <a href="javascript:void(0)"><img class="img-btn" src="./icons/rename100.png" alt="rename board" id="rename-board-btn"></a>
        <a href="javascript:void(0)"><img class="img-btn" src="./icons/cross100.png" alt="remove board" id="remove-board-btn"></a>
        <a href="javascript:void(0)" id="add-board-btn"><img class="img-btn" src="./icons/plus100.png" alt="add board"></a>
    </div>
    <div class="center-bar">
        <!-- <a href="javascript:void(0)"><img class="img-btn" src="./icons/save.png" alt="save to local storage"></a> -->
        <p class="secondary-fg">Naposledy uloženo 12:49</p>
    </div>
    <div class="right-bar">
        <a href="javascript:void(0)" id="toggle-fullscreen"><img class="img-btn" src="./icons/fullscreen100.png" alt="toggle fullscreen"></a>
        <a href="javascript:void(0)"><img class="img-btn" src="./icons/help100.png" alt="help"></a>
        <a href="javascript:void(0)"><img class="img-btn" src="./icons/export100.png" alt="export workspace"></a>
        <a href="javascript:void(0)"><img class="img-btn" src="./icons/import100.png" alt="import workspace"></a>
    </div>
</div>
