<div>
    <div class="window-background">
        <div class="dialogue-window small-window">
            <div class="dialogue-header">
                <p>Zadej název nástěnky</p>
                <a href="javascript:void(0)"><img src="./icons/close.png" alt="close window" class="img-btn" id="input-dialogue-close-btn"></a>
            </div>
            <div class="dialogue-body">
                <input type="text" class="user-input" id="dialogue-user-input">
            </div>
            <div class="dialogue-footer">
                <button class="btn" id="input-dialogue-ok-btn">OK</button>
            </div>
        </div>
    </div>
</div>