<div>
    <div class="window-background">
        <div class="dialogue-window big-window">
            <div class="dialogue-header editor-header">
                <p></p>
                <a href="javascript:void(0)"><img src="./icons/close.png" alt="close window" class="img-btn" id="editor-dialogue-close-btn"></a>
            </div>
            <div class="dialogue-body editor-body">
                <div id="toolbar"></div>
                <div id="editor-container" class="editor-container"></div>
            </div>
            <!-- <div class="dialogue-footer">
            </div> -->
        </div>
    </div>
</div>