:root{
    --dark-main-color: #739072;
    --medium-main-color: rgb(70, 119, 70);
    --secondery-color: rgb(130, 176, 130);
    --light-main-color: #ECE3CE;
    --transparent: rgba(36, 35, 35, 0.596);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background-color: white;
}

.control-panel{
    /* position:fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: var(--light-main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    
    flex: 1;

    border-bottom: 3px solid var(--dark-main-color);   
}

.control-panel img{
    size: 1;
    padding: 0.1rem;
    border: 3px solid var(--dark-main-color);
    border-radius: 100%;
    transition: 1s border-style;
}
.control-panel img:hover{
    /* background-color: rebeccapurple; */
    border-style: dashed;
}

.left-bar{
    display: flex;
    align-items: center;
}
.left-bar{
    display: flex;
}
.center-bar{
    display: flex;
    align-items: center;
}
.secondary-fg{
    color: var(--dark-main-color);
}

.img-btn{
    height: 2rem;
    margin: 0 0.2rem;
    border-radius: 100px;
    border: 3px solid var(--dark-main-color);
}
.img-btn:hover{
    border-style: dashed;
}

.board-dropdown{
    font-size: 1.5rem;
    /* padding: 0.5rem; */
    padding: 1rem 1rem;
    position: relative;
    cursor: pointer;
    color: var(--dark-main-color);
}

.board-dropdown:hover{
    /* background-color: var(--dark-main-color); */
    /* color: var(--light-main-color); */
    /* box-sizing:content-box; */
    outline: 3px dashed var(--dark-main-color);
    outline-offset: -3px;
    
}

.board-dropdown-content{
    display: none;
    position: absolute;
    top: calc(3.5rem + 5px);
    min-width: 12rem;
    background-color: var(--light-main-color);
    /* margin-top: 2.5rem; */
    z-index: 1000;
    max-height: 80%;
    overflow-y: scroll;
}
.board-dropdown-content:hover{
    display: block;
    position: absolute;
}
.board-dropdown-content p{
    padding: 0.5rem;
    cursor: pointer;
    color: var(--dark-main-color);
}
.board-dropdown-content p:hover{
    background-color: var(--light-main-color);
    color: var(--dark-main-color);
    outline: 3px dashed var(--dark-main-color);
    outline-offset: -3px;
}


.board-dropdown:hover ~ .board-dropdown-content{
    display: block;
    /* background-color: black; */
}

.window-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparent);
    /* display: none; */

    z-index: 1000;
}
.dialogue-window{
    position: fixed;
    top: 40%;
    left: 50%;
    
    /* background-color: var(--dark-main-color); */
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
}
.small-window{
    width: 20rem;
    height: 10rem;
}
.dialogue-header{
    background-color: var(--light-main-color);
    color: var(--dark-main-color);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;

    border-radius: 1rem 1rem 0 0;
    border: 3px solid var(--dark-main-color);
}
.dialogue-body{
    background-color: var(--light-main-color);
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 3px solid var(--dark-main-color);
    border-left: 3px solid var(--dark-main-color);
}
.user-input {
    width: 100%;
    margin: 0 1rem;
    height: 1.5rem;
}
.dialogue-footer{
    background-color: var(--light-main-color);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;

    border-radius: 0 0 1rem 1rem;
    border: 3px solid var(--dark-main-color);
}
.btn{
    width: 4rem;
    height: 1.5rem;
    cursor: pointer;
    border: 0;
    border-radius: 0;
    background-color: var(--light-main-color);
}
.btn:hover{
    background-color: var(--secondery-color);
}

#konva-container{
    /* z-index: -100; */
    /* background-color: rgb(226, 241, 237); */
    height:3000px;
    /* overflow: auto; */
    /* flex: auto; */

    background-image: radial-gradient(black 1px, transparent 0);
    background-size: 40px 40px;
    background-attachment: scroll;
}

.add-note-button{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    /* scale: 0.8; */
    /* transition: scale 0.2s; */
    border-radius: 100rem;
}
.add-note-button:hover{
    /* scale: 1; */
    outline: 3px dashed var(--dark-main-color);
}

.board-container{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#html-board{
    height: 3000px;
    position: relative;
}

.note{
    position: absolute;
}

.inner-note{
    position: relative;
    width: 100%;
    height: 100%;
}
.resizer{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    cursor: nw-resize;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 5px;
    opacity: 0;
    transition: opacity 0.2s;
}
.note:hover .resizer{
    opacity: 1;
}
.mover{
    position: absolute;
    left: 50%;
    top: 0;
    width: 60px;
    height: 20px;
    cursor: move;
    border-radius: 50% / 0 0 100% 100%;
    /* border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; */
    opacity: 0;
    transition: opacity 0.2s;
    transform: translate(-50%, 0);
}
.note:hover .mover{
    opacity: 1;
}

.listener-layer{
    width: 100%;
    height: 100%;
}

.note-controls-container{
    opacity: 0;
    transition: opacity 0.2s;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -30px;
    /* right: 0px; */
    top: 0;
    z-index: 1;
    display: none;
}
.note:hover .note-controls-container{
    opacity: 1;
    display: flex;
}
.note-controls-container img{
    width: 20px;
    cursor: pointer;
    /* margin: 0.1rem; */
    padding: 1px;
}

.color-container{
    display: flex;
}

.pickable-color{
    width: 2rem;
    height: 2rem;
    border-radius: 100px;
    margin: 0.2rem;
    cursor: pointer;
    scale: 1;
    transition: scale 0.2s;
}

.pickable-color:hover{
    scale: 1.2;
}

.editor-container{
    width: 100%;
    height: 100%;
    display: block;
    /* background-color: chocolate; */
}
.editor-header{
    /* height: 2rem; */
    flex: 0.25;
}
.big-window{
    width: 90%;
    height: 90%;
    top: 50%;
}
.editor-body{
    border-radius: 0 0 1rem 1rem;
}
.editor-body{
    display: block;
    overflow-y: hidden;
    position: relative;
    /* height: 100%; */
    /* position: fixed;
    top: 0;
    left: 0; */
}
/* .ql-toolbar{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
} */

.note-content-holder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    margin: 0.5rem;
}
.note-content-holder li{
    margin-left: 2rem;
}

.ql-editor{
    background-color: white;
}

::-webkit-scrollbar {
    width: 3px;
}
/* ::-webkit-scrollbar:hover{
    width: 10px;
} */

::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(77, 77, 77);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(77, 77, 77);   
} 