:root{
    --dark-main-color: rgb(59, 105, 59);
    --medium-main-color: rgb(70, 119, 70);
    --secondery-color: rgb(130, 176, 130);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.control-panel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: var(--dark-main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-bar{
    display: flex;
    align-items: center;
}
.left-bar{
    display: flex;
}
.center-bar{
    display: flex;
    align-items: center;
}
.secondary-fg{
    color: var(--secondery-color);
}

.img-btn{
    height: 2rem;
    margin: 0 0.2rem;
}

.board-dropdown{
    font-size: 1.5rem;
    /* padding: 0.5rem; */
    padding: 0.5rem 1rem;
    position: relative;
    cursor: pointer;
}

.board-dropdown:hover{
    background-color: var(--medium-main-color);
}

.board-dropdown-content{
    display: none;
    position: absolute;
    top: 2.8rem;
    min-width: 12rem;
    background-color: var(--dark-main-color);
    /* margin-top: 2.5rem; */
}
.board-dropdown-content:hover{
    display: block;
    position: absolute;
}
.board-dropdown-content p{
    padding: 0.5rem;
    cursor: pointer;
}
.board-dropdown-content p:hover{
    background-color: var(--medium-main-color);
}


.board-dropdown:hover ~ .board-dropdown-content{
    display: block;
    /* background-color: black; */
}